body {
margin: 0px;
}
#fondo {
position: fixed
}

                            /* APLICACIONES */


/*EDITOR DE TEXTO*/

#editor {
width: 3%;
height: 5%;
top: 4%;
position: fixed
}


#frame-editor {
z-index: 10;
color: aqua;
position: absolute;
top: 6.5%;
left: 5%;
width: 22%;
height: 10%;
visibility: hidden;
transition-delay: 5s;
animation-name: animacion-frame;
animation-duration: 5s;
text-align: left;
}


#textarea {
color: blueviolet;
background-color: aquamarine;
}


#libreoffice {
background-color: black;
color: blueviolet;
position: absolute;
top: -50%;
}


#editor:hover {
opacity: 0.5;
}


img#editor:hover + div#frame-editor {
visibility: visible;
transition: 0s;
transform: rotateX(360)
}

#frame-editor:hover {
visibility: visible;
z-index: 50;
}

/*NAVEGADOR*/


#navegador {
width: 3%;
height: 5%;
top: 10%;
position: fixed;
}


div#frame-navegador {
z-index: 20;
position: absolute;
transition-delay: 5s;
left: 35%;
top: 3%;
height: 150%;
animation-name: animacion-frame2;
animation-duration: 5s;
text-align: left;
visibility: hidden;
position: absolute;
}


#iframe-navegador {
width: 400%;
height: 40%;
}


img#navegador:hover + div#frame-navegador {
visibility: visible;
transition: 0.1s;
}

#navegador:hover {
opacity: 0.5;
}

#frame-navegador:hover {
visibility: visible;
z-index: 50;
}

/* TERMINAL */

#terminal {
width: 3%;
height: 5%;
top: 16%;
position: fixed;
}


#terminal:hover {
opacity: 0.5;
}

img#terminal2 {
position: absolute;
z-index: 30;
visibility: hidden;
height: 40%;
animation-name: animacion-frame3;
animation-duration: 5s;
transition-delay: 3s;
width: 30%;
top: 50%;
left: 4%;
}


img#terminal:hover + img#terminal2 {
visibility: visible;
transition: 0s;
}

#terminal2:hover {
visibility: visible;
z-index: 50;
}

/* TRANSICIONES */

@keyframes animacion-frame {
from {opacity: 0;}to {opacity: 1;}
}
    
@keyframes animacion-frame2 {
from {height: 0%;}to {height: 150%;}
}
    
@keyframes animacion-frame3 {
from {opacity: 0;}to {opacity: 1;}
}
    